@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.ant-tabs-tab {
  padding: 8px !important;
  margin: 0px !important;
}

.tox-statusbar {
  display: none !important;
}

.negative-button {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #000000A6;
}

.negative-button:hover {
  border: 1px solid #fcf4f3 !important;
  background: #fcf4f3 !important;
  color: #f62207 !important;
}

