// Color variables
// $primary-color: #007bff;
// $secondary-color: #6c757d;
// $success-color: #28a745;        
// $danger-color: #dc3545;
// $warning-color: #ffc107;
// $info-color: #17a2b8;
// $light-color: #f8f9fa;
// $dark-color: #343a40;

// You can also create semantic variables that use these colors
// $text-color: $dark-color;
// $link-color: $primary-color;
// $border-color: lighten($dark-color, 50%);

// border colors
$border-primary: #d9d9d9;
$border-secondary: #f0f0f0;

// Text colors
$text-highlight: #007bff;  // You can adjust this color as needed

// navbar height
$navbar-height: 60px;

// hover
$hover-primary: #4096ff

